**
!/temp/RLHDDMtutorial_reproduced.ipynb
!/temp/HDDM_official_tutorial_reproduced.ipynb
!/scripts/HDDMarviz.py
!/scripts/plot_ppc_by_cond.py
!/scripts/pointwise_loglik_gen.py
!/scripts/post_pred_gen_redefined.py
!/scripts/InferenceDataFromHDDM.py
!/tutorial/dockerHDDM_tutorial.ipynb
!/tutorial/Run_all_models.py
!/tutorial/Def_Models.py
!/0001-fix-build.patch