## MacOS file
*/._*
*/*/._*

## free file sync
*ffs_db

## VS code related
.vscode
.local
.cache

## ipy related
.ipynb_checkpoints
__pycache__
*/.ipynb_checkpoints*
*/__pycache__

## Related:
.RData
.Rhistory
.Rproj.user
*/.RData
*/.Rhistory
*/.Rproj.user

## big file
*netcdf
*/*netcdf
*chain*
*/*chain*
*/*.db

## unpublished manuscript
/manuscript
*Swarag*
*XiaTao*
*pwk*
*Untitled*
*/test/